.header-container{
    background-image: url(https://images.unsplash.com/photo-1611591379398-538b7f678889?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2015&q=80);
    background-size: cover;
    background-position: center;
}

.header-content h1{
    font-size: 4em;
}