.card{
    width: 280px;
    height: 280px;
    background-size: cover;
    margin: 10px;
    border-radius: 5px;
}
.banner-cards{
    display: flex;
    flex-wrap: wrap;
}
.grid-container{
    padding: 40px 0;
    text-align: center;
}
