@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  
}
body{
  background-color: rgb(54, 54, 54);
  font-family: 'Quicksand', sans-serif;

}
.home-page{
  padding-top: 8vh;
}

h1 {
  margin-bottom: 20px;
}
.container{
  width: 1200px;
  margin: auto;
  padding: 80px 0;
}

.menu-container{
  position: fixed;
  width: 100%;
  z-index: 50;
}
a{
  text-decoration: none;
}

@media (max-width: 425px) {
    *{
        max-width: 100%;
    }
    
    .container{
        width: 100%;
        padding: 1% 2%;
    }



    /* MAKE A BURGER MENU */
      .menu-container{
        position: static;
      }
      .menu-container .menu{
        display: block;
      }
      .menu .links-container{
        display: none;
      }
      .menu .links-burger{
        display: block;
      }
      .menu .links-burger a{
        display: block;
        
      }

    /*  */
    
}